<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:context="http://www.springframework.org/schema/context" xsi:schemaLocation="http://www.springframework.org/schema/beans
        https://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/context
        https://www.springframework.org/schema/context/spring-context.xsd">
        
	<!-- 启动自动扫描机制    扫描除了controller层的   Dao层和Service层 -->
	<context:component-scan base-package="com.situ.dami">
		<!--这条 context排除 Controller层实例的生成， 交给SpringMVC去处理 -->
		<context:exclude-filter type="annotation" expression="org.springframework.stereotype.Controller" />
	</context:component-scan>
	
	
	
	<!-- 读取jdbc.properties-->
	<context:property-placeholder location="classpath:jdbc.properties" />
	<!-- 配置数据源              注意：我们这里用的数据源是 c3po数据源，当然还有最近的druid-->
	<bean id="dataSource" class="com.mchange.v2.c3p0.ComboPooledDataSource">
	    <!-- 数据库驱动   -->
		<property name="driverClass" value="${db.driverClass}" />
		<!-- 连接数据库的url        一定要注意：url路径localhost:3306/(自己的项目名称)? -->
		<property name="jdbcUrl" value="${db.jdbcUrl}" />
		<!-- 连接数据库的用户名                              自己的数据库名称           -->
		<property name="user" value="${db.username}" />
		<!-- 连接数据库的密码                                  自己的数据库密码           -->
		<property name="password" value="${db.password}" />
	</bean>
	
	
	<!-- 配置Mybatis工厂-->
	     <!-- 让Spring容器 生成 sqlSessionFactory -->
	<bean id="sqlSessionFactory" class="org.mybatis.spring.SqlSessionFactoryBean">
		<!-- 将数据源 注入进来 -->
		<property name="dataSource" ref="dataSource" />
		<!-- 配置需要生成别名的类的包名，会去进行扫描，并生成别名。 -->
		<property name="typeAliasesPackage" value="com.situ.dami" />
		<!-- 配置Mybatis的配置文件 -->
		<property name="configLocation" value="classpath:mybatis/mybatis-config.xml" />
		<!-- 配置Mybatis的映射文件 -->
		<property name="mapperLocations" value="classpath:mybatis/mappers/*-mapper.xml" />
	</bean>

	<!-- 使用 MapperScannerConfigurer,将 会 查 找 类 路 径 下 的 映 射 器 并 自 动 将 它 们 创 建 成 MapperFactoryBean -->
	<bean class="org.mybatis.spring.mapper.MapperScannerConfigurer">
		<!-- 配置要Scanner的基本包名 -->
		<property name="basePackage" value="com.situ.dami" />
		<!-- 配置要处理的annotation -->
		<property name="annotationClass" value="org.springframework.stereotype.Repository" />
	</bean>

</beans>